@tailwind base;
@tailwind components;
@tailwind utilities;


.paragraph:nth-child(n+6) {
    @apply -mb-4;
}

.content-wrapper {
    @apply w-[85.5%] lg:w-[85%]  mx-auto
} 

pre {
    background: #2d2d2d;
    color: #f8f8f2;
    padding: 1rem;
    border-radius: 10px;
    overflow-x: auto;
    width: 50%;
    margin-bottom: 2rem;
}
code {
    font-family: "Fira Code", monospace;
}
